{%- set source_engine = salt['pillar.get']('stackstorm:server:source:engine') %}

{%- load_yaml as base_defaults %}
Debian:
  pkgs:
  - st2
  - st2mistral
  - st2web
  conf_file: /etc/st2/st2.conf
  dir:
    base: /srv/stackstorm
  service: st2ctl
{%- endload %}

{%- set server = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('stackstorm:server')) %}